body{
	 background-image: url("../images/banner.jpg");
	 -webkit-text-size-adjust: none;
	 background-position: 50% 15%;
}

button{
border-radius:10px;
outline:none;
}
.modal{
    display: none;
}
.modal-header{    
     display:none;    
}
.SignUp{
	   max-width: 400px;
    height: auto;
    margin: auto;
    top:25px;
    background: #cbcbcf;
    padding: 10px;
    font-family: rale;
    border-radius: 15px;
}
.LogIn{
	max-width: 400px;
    height: auto;
    margin: auto;
    top:25px;
    background: #cbcbcf;
    padding: 10px;
    font-family: rale;
    border-radius: 15px;

}