body{
	 background-image: url("../images/banner.jpg");
	 -webkit-text-size-adjust: none;
	 background-position: 50% 15%;
}

button{
border-radius:10px;
outline:none;
}
.modal{
    display: none;
}
.modal-header{    
     display:none;    
}