.form-group{
    background: #cbcbcf;
   position: fixed;top:150px;left: 20px;
}


.botonBuscar{
    position: fixed;
    position: fixed;top:220px;left: 20px;
}
.card-body{
    background: #cbcbcf;
   position: fixed; top:150px; right: 70px;
   width: 20%;
   height: 50%;
}
.amigos{
   background: #cbcbcf;
   position: fixed; top:150px; right: 70px;
   width: 20%;
   height: 50%;
}