
	<div class="limiter">
		<div class="container-login100">

			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<center><img src="../images/logo.png"></center>
				<form class="login100-form validate-form" role="form" ng-submit="signup()">
					<span class="login100-form-title p-b-33">
						
					</span>
					<div class="wrap-input100 rs2 validate-input" data-validate = "Debe ingresar un Nombre ">
						<input class="input100" type="text" id="firstName" name="firstName" placeholder="Nombre" ng-model="firstName">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs3 validate-input" data-validate = "Debe ingresar un Apellido">
						<input class="input100" type="text" name="lastName" id="lastName" placeholder="Apellido" ng-model="lastName">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Debe ingresar un email valido: ex@abc.xyz">
						<input class="input100" type="email" id="email" name="email" placeholder="Email" ng-model="email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "introduzca una fecha valida">
						<input class="input100" type="date" name="dateOfBirth" placeholder="Nacimineto" id="dateOfBirth" ng-model="dateOfBirth">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar su contraseña">
						<input class="input100" type="password" name="password" placeholder="Contraseña" id="password" ng-model="password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<div class="wrap-input100 rs1 validate-input" data-validate="Debe confirmar su contraseña">
						<input class="input100" type="password" name="confirmationPassword" placeholder="Confirmar Contraseña" id="confirmationPassword" ng-model="confirmationPassword">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" type="submit">
							Registrarme
						</button>
						<button class="volver-btn2" onclick="location.href='javascript:window.history.go(-1)'">
							Volver
						</button>
					</div>
					

					</div>
				</form>
			</div>
		</div>
	</div>
	

	
