
	<div class="limiter">
		<div class="container-login100">

			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <div class="box-pestanas">
               
                	
            
</div>
				<div class="box-user">
                <div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							<h2>Pedro Perez</h2>
						</span>
					</div>
                 <center><img src="../images/pedro.jpg"></center>

                 <span class="txt1">
							<center><h3>Datos de cuenta</h3></center>
				</span>	
				<span class="txt1">
							<h3>Nombre: Pedro perez</h3>
				</span>	
				<span class="txt1">
							<h3>Correo: pedro@gmail.com</h3>
				</span>	

				<span class="txt1">
							<h3>Nacimiento: 16/05/1997</h3>
				</span>	

				</div>

		</div>
	</div>
	

